/* ================= */
/* Background Colors */
/* ================= */

header {background: none}
header .nav a, .boxer {background: white}
header .nav a:hover, header .nav a.active, .nano > .pane > .slider, .nav#filter > li > a:hover, .nav#filter > li > a.active  {background: #f2f2f2}
footer {background: white}

/* Background Image */
.container {background:#f2f2f2 }
.humble-img-1 { background-image: url(../img/sample/sample1.jpg) }
.humble-img-2 { background-image: url(../img/sample/sample2.jpg) }
.humble-img-3 { background-image: url(../img/sample/sample3.jpg) }

/* Welcome styling */
#teaser {width:500px; background: black; padding:20px; color:#999}

/* =========== */
/* Font Colors */
/* =========== */

header, header .nav li a, section, .carousel-nav li a, footer, footer .social a:hover {color:black}
header .nav a:hover, header .nav a.active, header .nav a.active i, .nav#filter > li > a:hover, .nav#filter > li > a.active {color:black}
a, header .nav li a i, a:hover, .carousel-nav a.active, .carousel-control, .themecolor, .humble-info p a:hover {color:#999}

/* ============ */
/* Border Color */
/* ============ */

section .boxer {border:1px solid #999; }
.line {border-top:1px solid #999; clear:both; padding-bottom: 50px; margin-top: 50px}

/* ============== */
/* Core structure */
/* ============== */

a:hover {text-decoration: none}
.carousel {margin-bottom: 0}
.container {width: 810px; height:800px; position: relative; overflow:hidden}
img.alignleft {padding-right: 10px; float:left}
img.alignright {padding-left: 10px; float: right}
blockquote {text-align: left;opacity:.85;filter:alpha(opacity=85);}
.tcenter {text-align: center}; .tleft {text-align: left} .tright {text-align: right}
label {font-style: italic; font-family: Georgia}
address {font-size: .85em}
.btntheme {text-shadow: none}

/* ============ */
/* Header style */
/* ============ */

header li a {font-size: .85em}
header .boxed li a {padding: 25px 0; float:left; text-align: center;}
header .boxed li:first-child a {padding:0}
header .boxed li a i {opacity:0.7;filter:alpha(opacity=70);}
header .boxed li a:hover { -webkit-transition: background-color 800ms linear; -moz-transition: background-color 800ms linear; -o-transition: background-color 800ms linear; -ms-transition: background-color 800ms linear; transition: background-color 800ms linear; }
header .boxed li a:hover > i {opacity:1;filter:alpha(opacity=100);}
header .boxed li.like .afterlike {position: relative; display:none; padding-top:15px}
header .boxed li.like .afterlike .liked {font-size: .9em}

/* ============= */
/* Content style */
/* ============= */

section { max-height:480px}
section article.panel {min-height:500px;display: none; margin:50px}
section .boxer section {margin-top:0}

article.panel h4 {background: url(../img/sample/headline.png) no-repeat bottom center; color:#F27459; text-shadow: 0 1px 1px white; padding: 15px 0; margin-bottom: 30px}

.boxer {text-align: center; padding: 20px; }
.boxer p {text-align: left}
.boxer {box-shadow: 0 1px 5px #999; border-radius: 5px}
.boxer ul {text-align: left}
.boxer h4 {text-transform: uppercase}

.package section {position: relative; width:211px; height:211px; margin-bottom: 25px}
.gallery article { float: left; width: 31%; margin-bottom: 10px; padding: 0 1%; position: relative; overflow: hidden}
.gallery article img:hover {opacity: .7; filter:alpha(opacity=70);}
#filter {float:none; display: inline-block;; zoom:1;}

.carousel-nav {text-align: center;}
.carousel-nav li {list-style: none; float:none; font-size: 3em; display: inline-block; zoom:1}
.carousel-nav li a {background: none; padding:3px; text-shadow: 0 1px 1px #333; opacity:0.6;filter:alpha(opacity=60);}
.carousel-nav li a:hover {background: none}
.carousel-nav li a:hover, .carousel-nav a.active {opacity:1;filter:alpha(opacity=100);}
.carousel .item p {padding: 20px 0; text-align: left; line-height: 1.4em}
.carousel-control{position:absolute;top:45%;left:3px; border:none; background:none; width:20px;height:20px;margin-top:-20px;font-size:4em;font-weight:100;text-align:center;opacity:0.5;filter:alpha(opacity=50);}
.carousel-control.right{left:auto;right:3px;}
.carousel-control:hover{color:#ffffff;text-decoration:none;opacity:0.9;filter:alpha(opacity=90);}

/* ============ */
/* Footer style */
/* ============ */

footer {position:absolute; bottom:0; left:0; width: 96%; padding: 10px 0; margin: 0 2%; font-size: .9em}
footer a {display: inline-block; padding-left: 10px}

/* ============ */
/* Nanoscroller */
/* ============ */

.nano { position : relative; overflow : hidden; height: 540px}
.nano .content { position : absolute; overflow : scroll; overflow-x : hidden; top : 0; right : 0; bottom : 0; left : 0; padding:20px}
.nano .content:focus { outline: thin dotted }
.nano .content::-webkit-scrollbar { visibility: hidden }
.has-scrollbar .content::-webkit-scrollbar { visibility: visible }
.nano > .pane { background : rgba(0,0,0,.25); position : absolute; width : 5px; right : 3px; top : 3px; bottom : 3px; visibility : hidden\9; /* Target only IE7 and IE8 with this hack */ opacity : .01; -webkit-transition : .2s; -moz-transition : .2s; -o-transition : .2s; transition : .2s; -moz-border-radius : 5px; -webkit-border-radius : 5px; border-radius : 5px; }
.nano > .pane > .slider {position : relative; margin : 0 1px; -moz-border-radius : 3px; -webkit-border-radius : 3px; border-radius : 3px; }
.nano:hover > .pane, .pane.active, .pane.flashed { visibility : visible\9; /* Target only IE7 and IE8 with this hack */ opacity  : 0.99; }

/* ==================== */
/* Hover package effect */
/* ==================== */

.humble-grid { margin: 20px 0 0 0; padding: 0; list-style: none; display: block; text-align: center; width: 100%; }
.humble-grid:after,
.humble-item:before { content: ''; display: table; }
.humble-grid:after { clear: both }
.humble-grid li { width: 220px; height: 220px; display: inline-block; margin: 20px; }
.humble-item { width: 100%; height: 100%; border-radius: 50%; position: relative; box-shadow: 0 1px 2px rgba(0,0,0,0.1); cursor: default; }
.humble-info-wrap { position: absolute; width:171px; height:171px; border-radius: 50%; -webkit-perspective: 800px; -moz-perspective: 800px; -o-perspective: 800px; -ms-perspective: 800px; perspective: 800px; -webkit-transition: all 0.4s ease-in-out; -moz-transition: all 0.4s ease-in-out; -o-transition: all 0.4s ease-in-out; -ms-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out; top: 20px; left: 20px; background: #f9f9f9 url(../img/bg.jpg); box-shadow: 0 0 0 20px rgba(255,255,255,0.2), inset 0 0 3px rgba(115,114, 23, 0.8); }
.humble-info { position: absolute; width:171px; height:171px; border-radius: 50%; -webkit-transition: all 0.4s ease-in-out; -moz-transition: all 0.4s ease-in-out; -o-transition: all 0.4s ease-in-out; -ms-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out; -webkit-transform-style: preserve-3d; -moz-transform-style: preserve-3d; -o-transform-style: preserve-3d; -ms-transform-style: preserve-3d; transform-style: preserve-3d; }
.humble-info > div { display: block; position: absolute; width: 100%; height: 100%; border-radius: 50%; background-position: center center; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -o-backface-visibility: hidden; -ms-backface-visibility: hidden; backface-visibility: hidden; }
.humble-info .humble-info-back { -webkit-transform: rotate3d(0,1,0,180deg); -moz-transform: rotate3d(0,1,0,180deg); -o-transform: rotate3d(0,1,0,180deg); -ms-transform: rotate3d(0,1,0,180deg); transform: rotate3d(0,1,0,180deg); background: #000; }
.humble-info h3 { color: #fff; text-transform: uppercase; letter-spacing: 1px; font-size: 14px; height:30px; line-height: 1em; margin: 0 15px; padding: 40px 0 0 0; text-shadow: 0 0 1px #fff, 0 1px 2px rgba(0,0,0,0.3); }
.humble-info p { text-align: center; color: #fff; padding: 10px 5px; font-style: italic; margin: 0 30px; font-size: 12px; border-top: 1px solid rgba(255,255,255,0.5); }
.humble-info p a { display: block; color: #fff; color: rgba(255,255,255,0.7); font-style: normal; font-weight: 700; text-transform: uppercase; font-size: 9px; letter-spacing: 1px; padding-top: 4px; font-family: 'Open Sans', Arial, sans-serif; }
.humble-item:hover .humble-info-wrap { box-shadow: 0 0 0 0 rgba(255,255,255,0.8), inset 0 0 3px rgba(115,114, 23, 0.8) }
.humble-item:hover .humble-info { -webkit-transform: rotate3d(0,1,0,-180deg); -moz-transform: rotate3d(0,1,0,-180deg); -o-transform: rotate3d(0,1,0,-180deg); -ms-transform: rotate3d(0,1,0,-180deg); transform: rotate3d(0,1,0,-180deg); }
.humble-item, .humble-info-wrap, .humble-info, .humble-info > div {border-radius: 0}

/* ============== */
/* Fancybox style */
/* ============== */

#fancybox-loading { position: fixed; top: 50%; left: 50%; width: 40px; height: 40px; margin-top: -20px; margin-left: -20px; cursor: pointer; overflow: hidden; z-index: 1104; display: none; }
#fancybox-loading div { position: absolute; top: 0; left: 0; width: 40px; height: 480px; background-image: url('../img/fancy/fancybox.png'); }
#fancybox-overlay { position: absolute; top: 0; left: 0; width: 100%; z-index: 1100; display: none; }
#fancybox-tmp { padding: 0; margin: 0; border: 0; overflow: auto; display: none; }
#fancybox-wrap { position: absolute; top: 0; left: 0; padding: 20px; z-index: 1101; outline: none; display: none; }
#fancybox-outer { position: relative; width: 100%; height: 100%; background: #fff; }
#fancybox-content { width: 0; height: 0; padding: 0; outline: none; position: relative; overflow: hidden; z-index: 1102; border: 0px solid #fff; }
#fancybox-hide-sel-frame { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: transparent; z-index: 1101; }
#fancybox-close { position: absolute; top: -15px; right: -15px; width: 30px; height: 30px; background: transparent url('../img/fancy/fancybox.png') -40px 0px; cursor: pointer; z-index: 1103; display: none; }
#fancybox-error { color: #444; font: normal 12px/20px Arial; padding: 14px; margin: 0; }
#fancybox-img { width: 100%; height: 100%; padding: 0; margin: 0; border: none; outline: none; line-height: 0; vertical-align: top; }
#fancybox-frame { width: 100%; height: 100%; border: none; display: block; }
#fancybox-left,
#fancybox-right { position: absolute; bottom: 0px; height: 100%; width: 35%; cursor: pointer; outline: none; background: transparent url('../img/fancy/blank.gif'); z-index: 1102; display: none; }
#fancybox-left { left: 0px }
#fancybox-right { right: 0px }
#fancybox-left-ico,
#fancybox-right-ico { position: absolute; top: 50%; left: -9999px; width: 30px; height: 30px; margin-top: -15px; cursor: pointer; z-index: 1102; display: block; }
#fancybox-left-ico { background-image: url('../img/fancy/fancybox.png'); background-position: -40px -30px; }
#fancybox-right-ico { background-image: url('../img/fancy/fancybox.png'); background-position: -40px -60px; }
#fancybox-left:hover,
#fancybox-right:hover { visibility: visible; /* IE6 */ }
#fancybox-left:hover span { left: 20px }
#fancybox-right:hover span { left: auto; right: 20px; }
.fancybox-bg { position: absolute; padding: 0; margin: 0; border: 0; width: 20px; height: 20px; z-index: 1001; }
#fancybox-bg-n { top: -20px; left: 0; width: 100%; background-image: url('../img/fancy/fancybox-x.png'); }
#fancybox-bg-ne { top: -20px; right: -20px; background-image: url('../img/fancy/fancybox.png'); background-position: -40px -162px; }
#fancybox-bg-e { top: 0; right: -20px; height: 100%; background-image: url('../img/fancy/fancybox-y.png'); background-position: -20px 0px; }
#fancybox-bg-se { bottom: -20px; right: -20px; background-image: url('../img/fancy/fancybox.png'); background-position: -40px -182px; }
#fancybox-bg-s { bottom: -20px; left: 0; width: 100%; background-image: url('../img/fancy/fancybox-x.png'); background-position: 0px -20px; }
#fancybox-bg-sw { bottom: -20px; left: -20px; background-image: url('../img/fancy/fancybox.png'); background-position: -40px -142px; }
#fancybox-bg-w { top: 0; left: -20px; height: 100%; background-image: url('../img/fancy/fancybox-y.png'); }
#fancybox-bg-nw { top: -20px; left: -20px; background-image: url('../img/fancy/fancybox.png'); background-position: -40px -122px; }
#fancybox-title { font-family: Helvetica; font-size: 12px; z-index: 1102; }
.fancybox-title-inside { padding-bottom: 10px; text-align: center; color: #333; background: #fff; position: relative; }
.fancybox-title-outside { padding-top: 10px; color: #fff; }
.fancybox-title-over { position: absolute; bottom: 0; left: 0; color: #FFF; text-align: left; }
#fancybox-title-over { padding: 10px; background-image: url('../img/fancy/fancy_title_over.png'); display: block; }
.fancybox-title-float { position: absolute; left: 0; bottom: -20px; height: 32px; }
#fancybox-title-float-wrap { border: none; border-collapse: collapse; width: auto; }
#fancybox-title-float-wrap td { border: none; white-space: nowrap; }
#fancybox-title-float-left { padding: 0 0 0 15px; background: url('../img/fancy/fancybox.png') -40px -90px no-repeat; }
#fancybox-title-float-main { color: #FFF; line-height: 29px; font-weight: bold; padding: 0 0 3px 0; background: url('../img/fancy/fancybox-x.png') 0px -40px; }
#fancybox-title-float-right { padding: 0 0 0 15px; background: url('../img/fancy/fancybox.png') -55px -90px no-repeat; }
.fancybox-ie6 #fancybox-close { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/fancy/fancybox/fancy_close.png', sizingMethod='scale'); }
.fancybox-ie6 #fancybox-left-ico { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/fancy/fancybox/fancy_nav_left.png', sizingMethod='scale'); }
.fancybox-ie6 #fancybox-right-ico { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/fancy/fancybox/fancy_nav_right.png', sizingMethod='scale'); }
.fancybox-ie6 #fancybox-title-over { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/fancy/fancybox/fancy_title_over.png', sizingMethod='scale'); zoom: 1; }
.fancybox-ie6 #fancybox-title-float-left { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/fancy/fancybox/fancy_title_left.png', sizingMethod='scale'); }
.fancybox-ie6 #fancybox-title-float-main { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/fancy/fancybox/fancy_title_main.png', sizingMethod='scale'); }
.fancybox-ie6 #fancybox-title-float-right { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/fancy/fancybox/fancy_title_right.png', sizingMethod='scale'); }
.fancybox-ie6 #fancybox-bg-w,
.fancybox-ie6 #fancybox-bg-e,
.fancybox-ie6 #fancybox-left,
.fancybox-ie6 #fancybox-right,
#fancybox-hide-sel-frame { height: expression(this.parentNode.clientHeight + "px") }
#fancybox-loading.fancybox-ie6 { position: absolute; margin-top: 0; top: expression( (-20 + (document.documentElement.clientHeight ? document.documentElement.clientHeight/2 : document.body.clientHeight/2 ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop )) + 'px'); }
#fancybox-loading.fancybox-ie6 div { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/fancy/fancybox/fancy_loading.png', sizingMethod='scale'); }
.fancybox-ie .fancybox-bg { background: transparent !important }
.fancybox-ie #fancybox-bg-n { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/fancy/fancybox/fancy_shadow_n.png', sizingMethod='scale') }
.fancybox-ie #fancybox-bg-ne { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/fancy/fancybox/fancy_shadow_ne.png', sizingMethod='scale') }
.fancybox-ie #fancybox-bg-e { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/fancy/fancybox/fancy_shadow_e.png', sizingMethod='scale') }
.fancybox-ie #fancybox-bg-se { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/fancy/fancybox/fancy_shadow_se.png', sizingMethod='scale') }
.fancybox-ie #fancybox-bg-s { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/fancy/fancybox/fancy_shadow_s.png', sizingMethod='scale') }
.fancybox-ie #fancybox-bg-sw { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/fancy/fancybox/fancy_shadow_sw.png', sizingMethod='scale') }
.fancybox-ie #fancybox-bg-w { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/fancy/fancybox/fancy_shadow_w.png', sizingMethod='scale') }
.fancybox-ie #fancybox-bg-nw { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/fancy/fancybox/fancy_shadow_nw.png', sizingMethod='scale') }

/* Isotope Style */
.isotope-item { z-index: 2 }
.isotope-hidden.isotope-item { pointer-events: none; z-index: 1; }
.isotope,
.isotope .isotope-item { -webkit-transition-duration: 0.8s; -moz-transition-duration: 0.8s; -ms-transition-duration: 0.8s; -o-transition-duration: 0.8s; transition-duration: 0.8s; }
.isotope { -webkit-transition-property: height, width; -moz-transition-property: height, width; -ms-transition-property: height, width; -o-transition-property: height, width; transition-property: height, width; }
.isotope .isotope-item { -webkit-transition-property: -webkit-transform, opacity; -moz-transition-property: -moz-transform, opacity; -ms-transition-property: -ms-transform, opacity; -o-transition-property: -o-transform, opacity; transition-property: transform, opacity; }
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition { -webkit-transition-duration: 0s; -moz-transition-duration: 0s; -ms-transition-duration: 0s; -o-transition-duration: 0s; transition-duration: 0s; }
.isotope.infinite-scrolling { -webkit-transition: none; -moz-transition: none; -ms-transition: none; -o-transition: none; transition: none; }

/* Datepicker */
.datepicker { top: 0; left: 0; padding: 4px; margin-top: 1px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; /*.dow { border-top: 1px solid #ddd !important; }*/ } .datepicker:before { content: ''; display: inline-block; border-left: 7px solid transparent; border-right: 7px solid transparent; border-bottom: 7px solid #ccc; border-bottom-color: rgba(0, 0, 0, 0.2); position: absolute; top: -7px; left: 6px; } .datepicker:after { content: ''; display: inline-block; border-left: 6px solid transparent; border-right: 6px solid transparent; border-bottom: 6px solid #ffffff; position: absolute; top: -6px; left: 7px; } .datepicker > div { display: none; } .datepicker table { width: 100%; margin: 0; } .datepicker td, .datepicker th { text-align: center; width: 20px; height: 20px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; } .datepicker td.day:hover { background: #eeeeee; cursor: pointer; } .datepicker td.old, .datepicker td.new { color: #999999; } .datepicker td.active, .datepicker td.active:hover { background-color: #006dcc; background-image: -moz-linear-gradient(top, #0088cc, #0044cc); background-image: -ms-linear-gradient(top, #0088cc, #0044cc); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc)); background-image: -webkit-linear-gradient(top, #0088cc, #0044cc); background-image: -o-linear-gradient(top, #0088cc, #0044cc); background-image: linear-gradient(top, #0088cc, #0044cc); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0044cc', GradientType=0); border-color: #0044cc #0044cc #002a80; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); color: #fff; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); } .datepicker td.active:hover, .datepicker td.active:hover:hover, .datepicker td.active:active, .datepicker td.active:hover:active, .datepicker td.active.active, .datepicker td.active:hover.active, .datepicker td.active.disabled, .datepicker td.active:hover.disabled, .datepicker td.active[disabled], .datepicker td.active:hover[disabled] { background-color: #0044cc; } .datepicker td.active:active, .datepicker td.active:hover:active, .datepicker td.active.active, .datepicker td.active:hover.active { background-color: #003399 \9; } .datepicker td span { display: block; width: 47px; height: 54px; line-height: 54px; float: left; margin: 2px; cursor: pointer; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; } .datepicker td span:hover { background: #eeeeee; } .datepicker td span.active { background-color: #006dcc; background-image: -moz-linear-gradient(top, #0088cc, #0044cc); background-image: -ms-linear-gradient(top, #0088cc, #0044cc); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc)); background-image: -webkit-linear-gradient(top, #0088cc, #0044cc); background-image: -o-linear-gradient(top, #0088cc, #0044cc); background-image: linear-gradient(top, #0088cc, #0044cc); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0044cc', GradientType=0); border-color: #0044cc #0044cc #002a80; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); color: #fff; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); } .datepicker td span.active:hover, .datepicker td span.active:active, .datepicker td span.active.active, .datepicker td span.active.disabled, .datepicker td span.active[disabled] { background-color: #0044cc; } .datepicker td span.active:active, .datepicker td span.active.active { background-color: #003399 \9; } .datepicker td span.old { color: #999999; } .datepicker th.switch { width: 145px; } .datepicker th.next, .datepicker th.prev { font-size: 19.5px; } .datepicker thead tr:first-child th { cursor: pointer; } .datepicker thead tr:first-child th:hover { background: #eeeeee; } .input-append.date {text-align: left;} .input-append.date .add-on i, .input-prepend.date .add-on i { color:black; display: block; cursor: pointer; width: 16px; height: 16px; }